#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

body {
  background-color: darkolivegreen;
}
.icons {
  padding-right: 10px;
  width: 30px;
  height: 30px;
}

ul {
  list-style: none;
  margin: 25px 50px 75px 30px;
}

li.main-list {
  padding: 25px;
  border-bottom: solid 3px white;
  font-size: larger;
}

.whole-page {
  display: block;
  padding: 75px;
  margin-left: 300px;
  text-align: center;
  background: darkslateblue;
  color: white; 
  max-width: 90%;
  max-height: 90%;
}

.tab {
  display: inline-block;
  margin-left: 75px;
}

/*Side Nav */

.sideNav {
  height: 100%;
  width: 20%;
  position: fixed;
  top: 1rem;
  left: 1rem;
  bottom: 0;
  background-color: darkslateblue;
  padding: 15px 10px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home Button */
nav {
  position: fixed; 
  top: 0; 
  right: 0; 
}

.home-link 
{
  border:1px dotted white;
  background: darkslateblue;
  width:250px;
  height: 50px;
  line-height: 45px;
  margin: 30px auto;
}

.links {
  color: aliceblue;
}

.links:hover {
  color: aquamarine;
}

.main_page_ {
  display: inline;
  margin:auto;
  text-align: center;
  color: white; 
  width: 100%;
}

/* .grid {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); 
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
} */

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
}

.cell {
  flex: 1 0 500px; /* grow | shrink | basis */
  border: 2px dotted white;
  padding: 100px 0;
  position: relative;
  padding-top: 20px;
}

.cell1 {
  flex: 1 0 500px; /* grow | shrink | basis */
  border: 2px dotted white;
  padding: 100px 0;
  position: relative;
  padding-bottom: 200px !important;
}

#createdAt {
  position: absolute;
  font-size: 22px;
  color: snow;
  bottom: 0;
  left: 0;
  padding-left: 20px;
}

#betButton {
  position: absolute;
  background-color: darkolivegreen;
  padding: 20px;
  margin: 30px;
  bottom: 0;
  right: 0;;
}

#title, #description {
  position:initial;
  color: snow;
  padding: 0;
  margin: 0;
  text-align: left;
  margin-left: 20px;
}

.icon-button {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  cursor: pointer;
  padding-top: 25px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#editView {
  padding: 0 80px;
}

.deleteButton {
  display: block;
  background-color: brown;
  padding: 20px;
  margin: 30px;
}

#editPostBtn {
  display: block;
  background-color: darkolivegreen;
  padding: 10px 20px;
}

#imgPost {
  width: 75%;
  height: 75%;
  object-fit: cover;
}

#createPostBtn {
  display: block;
  background-color: darkolivegreen;
  padding: 20px;
}

#toggleButton {
  background-color: darkolivegreen;
  padding: 20px;
  margin: 30px;
  margin-top: 32px !important;
  margin-bottom: 30px !important;
  width: 200px;
  margin: auto;
}

#searchBox {
  width: 50%;
  height: 15%;
  margin: auto;
  padding: 20px;
  font-size: 20px;
}

/* Comments */

#commentsDiv {
  display: inline-block;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: left;
  font-size: 20px;
  padding: 20px 10px;
  width: 100%;
}

#comments {
  border-bottom: 2px dotted olive;
  padding: 15px 10px;
  background-color: darkolivegreen;
}

.parent {
  width: 600px; /* Adjust this value as needed */
  margin: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

#postComment {
  display: inherit;
  width: 96%;
  height: 5%;
  padding: 15px;
  font-size: 20px;
  background-color: olive;
  border: 2px solid olive;
}

#postComment::placeholder {
  color: silver; /* Replace with your desired color */
}

#postCommentBtn {
  display: block;
  background-color: darkolivegreen;
  border: 2px solid darkolivegreen;
}

#postCommentBtn:active, #postCommentBtn:focus, #postComment:active, #postComment:focus {
  outline: none;
}

.commentForm {
  display: flex;
  background-color: darkolivegreen;
}